#jumbotron {
  background-color: white;
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 50px;
}

.card {
  position: inherit;
  display: none;
  margin-top: 50px;
  min-height: 200px;
}

#solution {
  margin-top: 10%;
  margin-bottom: 10%;
}
